html{
    font-family: 'Roboto', sans-serif;
}

.photo{
    max-width: 15%;
    height: auto; 
}

.many_photo{
    max-width: 20%;
    height: auto; 
}

p{
    text-indent: 1.5em;
    text-align: justify;
}

h1{
    text-indent: 1.5em;
    text-align: justify;
}

img {
    max-width: 10%;
    height: auto;
}

.center_alignment{
    text-align: center;
}